* {
  box-sizing: border-box;
}

.header, .footer {
  background-color: grey;
  color: white;
  padding: 15px;
}
td {
  padding:1em;
}
tbody{
  font-family: sans-serif;
  font-size: medium;
  text-align: center;
}
thead{
  font-family: sans-serif;
  font-size: large;
}
table{
  width: 100%;
}
th{
  padding: 1em;
  background: cornsilk;
}
