<div class="header">
  <h1>{{Context.display.record[Context.display.title]}}</h1>
</div>
<table>
  <thead>
  <tr>
    <th>Performed At</th>
    <th>Responsible</th>
    <th>Action</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let log of Context.log_book">
    <td>{{log.performed_at}}</td>
    <td>{{log.responsible}}</td>
    <td>{{log.action}}</td>
    <td>{{log.description}}</td>
  </tr>
  </tbody>
</table>
