<table id="RTableLayout">
  <caption *ngIf="caption">{{ caption }}</caption>
  <thead>
  <tr>
    <th *ngFor="let map of columnMaps">{{ map.header }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let record of records">
    <td *ngFor="let map of columnMaps" [ctHeader]="map" [ctRecord]="record" (click)="clickedLink(record,map)"></td>
  </tr>
  </tbody>
</table>
