#RTableLayout {
  width: 100%;
}
#RTableLayout > thead{
  background-color: #ece4ec;
  color: black;
  font-size: large;
}
#RTableLayout > thead > tr > th {
  padding-top:10px;
  padding-bottom: 10px;
  font-family: sans-serif;
}
#RTableLayout > tbody > tr > td {
  font-size: medium;
}
#RTableLayout > tbody > tr:nth-child(even) {background: #ecf3f3}
#RTableLayout > tbody > tr:nth-child(odd) {background: #FFF}
