.ng-inserted-toolbar-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: 175px 45px 1fr;
    overflow-y: hidden;
    overflow-x: auto;
    grid-gap: 1rem;
    grid-template-rows: 1fr;
    grid-column-start: initial;
    margin-left: 1em;
    margin-right: 1em;
}
.SynctruckLogo[_ngcontent-gfu-c107] {
    margin-left: 1.2em;
    height: 45px;
    cursor: pointer;
    margin-top: 1em;
}
.command-icon {
    width: 25px;
    height: 25px;
    background: black;
    margin-top: 1em;
}
.RToolbar{
/*Remove all positional directives*/
}
