<tool-bar _ngcontent-gfu-c109="" _nghost-gfu-c107=""><mat-toolbar _ngcontent-gfu-c107="" color="primary" class="mat-toolbar expanded-toolbar HorizontalNav mat-primary mat-toolbar-single-row" style="color: white; background: #febbff;" ng-reflect-color="primary"><div _ngcontent-gfu-c107="" class="ng-star-inserted" style="display: grid;width: 100%;grid-template-columns: 175px 45px 1fr;overflow-y: hidden;overflow-x: auto;grid-gap: 1rem;grid-template-rows: 1fr;/*! grid-column-start: initial; */margin-left: 1em;margin-right: 1em;"><img _ngcontent-gfu-c107="" class="SynctruckLogo" src="https://assets-synctruck.s3.us-east-2.amazonaws.com/logo-small.jpg"><div style="width:25px; height:25px; background:black;margin-top: 1em;"> </div><div _ngcontent-gfu-c107="" class="RToolbar" style="/*! float: left; */ font-family: serif;"><mat-form-field _ngcontent-gfu-c107="" class="mat-form-field RCommand ng-tns-c83-5 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-has-label mat-form-field-hide-placeholder ng-pristine ng-valid ng-touched" ng-reflect-float-label="never"><div class="mat-form-field-wrapper ng-tns-c83-5"><div class="mat-form-field-flex ng-tns-c83-5"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "0"
}-->
  <div class="mat-form-field-infix ng-tns-c83-5"><input _ngcontent-gfu-c107="" matinput="" autofocus="" type="text" placeholder="Command Synctruck" class="mat-input-element mat-form-field-autofill-control mat-autocomplete-trigger ng-tns-c83-5 ng-pristine ng-valid cdk-text-field-autofill-monitored ng-touched" ng-reflect-type="text" ng-reflect-placeholder="Command Synctruck" ng-reflect-autocomplete="[object Object]" ng-reflect-form="[object Object]" id="mat-input-2" data-placeholder="Command Synctruck" aria-invalid="false" aria-required="false" autocomplete="off" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-haspopup="true"><!--container--><mat-autocomplete _ngcontent-gfu-c107="" class="mat-autocomplete ng-tns-c83-5"><!--container--></mat-autocomplete><span class="mat-form-field-label-wrapper ng-tns-c83-5"><label class="mat-form-field-label ng-tns-c83-5 mat-empty mat-form-field-empty ng-star-inserted" ng-reflect-disabled="true" id="mat-form-field-label-5" ng-reflect-ng-switch="false" for="mat-input-2" aria-owns="mat-input-2"><span class="ng-tns-c83-5 ng-star-inserted">Command Synctruck</span><!--ng-container--><!--bindings={
  "ng-reflect-ng-switch-case": "false"
}--><!--bindings={
  "ng-reflect-ng-switch-case": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--></label><!--bindings={
  "ng-reflect-ng-if": "true"
}--></span></div><!--bindings={
  "ng-reflect-ng-if": "0"
}--></div><div class="mat-form-field-underline ng-tns-c83-5 ng-star-inserted"><span class="mat-form-field-ripple ng-tns-c83-5"></span></div><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="mat-form-field-subscript-wrapper ng-tns-c83-5" ng-reflect-ng-switch="hint"><!--bindings={
  "ng-reflect-ng-switch-case": "error"
}--><div class="mat-form-field-hint-wrapper ng-tns-c83-5 ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);"><!--bindings={
  "ng-reflect-ng-if": ""
}--><div class="mat-form-field-hint-spacer ng-tns-c83-5"></div></div><!--bindings={
  "ng-reflect-ng-switch-case": "hint"
}--></div></div></mat-form-field></div></div><div _ngcontent-gfu-c107="" class="ng-star-inserted"><div _ngcontent-gfu-c107="" style="float: left;"><button _ngcontent-gfu-c107="" mat-button="" class="mat-focus-indicator mat-button mat-button-base" style="margin-left: 4em; margin-bottom: 12px;"><span class="mat-button-wrapper"><mat-icon _ngcontent-gfu-c107="" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">keyboard_tab</mat-icon></span><div matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]"></div><div class="mat-button-focus-overlay"></div></button></div><div _ngcontent-gfu-c107="" class="RToolbar" style="float: left; font-family: serif;"><mat-form-field _ngcontent-gfu-c107="" class="mat-form-field RCommand ng-tns-c83-6 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-has-label mat-form-field-hide-placeholder ng-touched ng-pristine ng-valid" ng-reflect-float-label="never"><div class="mat-form-field-wrapper ng-tns-c83-6"><div class="mat-form-field-flex ng-tns-c83-6"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "0"
}--><div class="mat-form-field-infix ng-tns-c83-6"><input _ngcontent-gfu-c107="" matinput="" autofocus="" type="text" placeholder="Command Synctruck" class="mat-input-element mat-form-field-autofill-control mat-autocomplete-trigger ng-tns-c83-6 ng-touched ng-pristine ng-valid cdk-text-field-autofill-monitored" ng-reflect-type="text" ng-reflect-placeholder="Command Synctruck" ng-reflect-autocomplete="[object Object]" ng-reflect-form="[object Object]" id="mat-input-3" data-placeholder="Command Synctruck" aria-invalid="false" aria-required="false" autocomplete="off" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-haspopup="true"><!--container--><mat-autocomplete _ngcontent-gfu-c107="" class="mat-autocomplete ng-tns-c83-6"><!--container--></mat-autocomplete><span class="mat-form-field-label-wrapper ng-tns-c83-6"><label class="mat-form-field-label ng-tns-c83-6 mat-empty mat-form-field-empty ng-star-inserted" ng-reflect-disabled="true" id="mat-form-field-label-7" ng-reflect-ng-switch="false" for="mat-input-3" aria-owns="mat-input-3"><span class="ng-tns-c83-6 ng-star-inserted">Command Synctruck</span><!--ng-container--><!--bindings={
  "ng-reflect-ng-switch-case": "false"
}--><!--bindings={
  "ng-reflect-ng-switch-case": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--></label><!--bindings={
  "ng-reflect-ng-if": "true"
}--></span></div><!--bindings={
  "ng-reflect-ng-if": "0"
}--></div><div class="mat-form-field-underline ng-tns-c83-6 ng-star-inserted"><span class="mat-form-field-ripple ng-tns-c83-6"></span></div><!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="mat-form-field-subscript-wrapper ng-tns-c83-6" ng-reflect-ng-switch="hint"><!--bindings={
  "ng-reflect-ng-switch-case": "error"
}--><div class="mat-form-field-hint-wrapper ng-tns-c83-6 ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);"><!--bindings={
  "ng-reflect-ng-if": ""
}--><div class="mat-form-field-hint-spacer ng-tns-c83-6"></div></div><!--bindings={
  "ng-reflect-ng-switch-case": "hint"
}--></div></div></mat-form-field></div></div><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--></mat-toolbar></tool-bar>

