.SynctruckLogo{
  height: 45px;
  cursor: pointer;
  width: 165px;
}
#loadingBar{
  width: 165px;
  height: 45px;
}
.RToolbar {
  font-family: serif;
  width: 100%;
}
.easy_button {
  font-family: serif;
  display: inline-block;
  background-color: rebeccapurple;
  padding: 16px;
  margin-right: 0.7em;
  margin-left: 0.7em;
  opacity: .85;
  text-align: center;
  height: 8px;
  line-height: 8px;
  color: white;
  font-weight: bold;
}

#easy_wrapper {
  width: 100%;
  text-align: center;
  overflow-x:auto;
}

.easy_button:hover {
  background-color: cornsilk;
  color: black;
  cursor: pointer;
}
.icon-container{
  text-align: left;
  padding:0.5em;
}
.button-icon{
  display: inline-block;
}
.HorizontalNav {
  color: white;
  margin-bottom: 10px;

  display: grid;
  width: 100%;
  grid-template-columns: 200px 1fr 100px;
  overflow-y: hidden;
  overflow-x: auto;
  grid-gap: 1rem;
  grid-template-rows: 60px;
  padding-right: 2.5rem;
}

.RCommand-icon {

}
