<mat-toolbar color="primary" [style.background]="Context.loading?'#c2fbd5':'rebeccapurple'" class="mat-toolbar expanded-toolbar HorizontalNav mat-primary mat-toolbar-single-row"><!---->
  <img *ngIf="!Context.loading" class="SynctruckLogo" (click)="Sebastian.takeAction('more')" [src]="logo">
  <mat-progress-bar *ngIf="Context.loading" mode="indeterminate" color="accent" id="loadingBar"></mat-progress-bar>
  <div class="RToolbar" *ngIf="Context.commandEnabled">
    <mat-form-field style="display: initial; position: initial" [floatLabel]="'never'" class="RCommand" (keyup.enter)="compile_source_command()">
      <input matInput
             autofocus
             type="text"
             #SourceInput
             [matAutocomplete]="auto"
             [formControl]="mySourceControl"
             placeholder="Command Synctruck">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let h of filteredOptions | async" [value]="h">
          {{h}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div *ngIf="!Context.commandEnabled" id="easy_wrapper">
    <div *ngFor="let p of Context.primary" class="easy_button" (click)="takeAction(p)">{{cap(p)}}</div>
  </div>
  <div class = "icon-container">
    <button class="button-icon" mat-button (click)="takeAction('profile')"><mat-icon>account_circle</mat-icon></button>
    <button class="button-icon" mat-button (click)="takeAction('logout')"><mat-icon>exit_to_app</mat-icon></button>
  </div>
</mat-toolbar>
