.field_input {
  width: 60%;
}
.field_input > div > input{
  width: 75%;
  font-family: sans-serif;
  padding:5px;
}
.empty{
  color: darkgray;
}
.overview{
  font-family: sans-serif;
}
.overview > h3{
  font-size: large;
  font-weight: bold;
  font-family: sans-serif;
}
.overview > p {
  font-size: large;
}
.column {
  float: left;
  padding: 15px;
}
.right_column {
  float: right;
  padding: 15px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.field_key{
  font-family: sans-serif;
  width: 23%;
  font-weight: bold;
  font-size: large;
  margin-top: 5px;
}
.field_action{

}
.field_value{
  margin-top: 5px;
  font-size: medium;
  width:60%;
}
