<div style="width: 100%;
     background: cornsilk;
     margin-top: 15px;" class="clearfix" *ngIf="checkingOverview">
  <div class="overview column" *ngFor="let colMap of field.raw">
    <h3>{{colMap.header}}</h3>
    <p [ctHeader]="colMap" [ctRecord]="Context.display.record"></p>
  </div>
</div>
<div style="margin-top:15px;" class="clearfix" *ngIf="!checkingOverview && !isEditing || (!field.editable && field.key!='overview')">
  <div class="field_key column">
    <label>{{field.name}}</label>
  </div>
  <div class="field_value column" [ctHeader]="field.styleConfig" [ctRecord]="Context.display.record"></div>
  <div *ngIf="field.editable" class="field_action right_column">
    <button mat-button (click)="toggle_edition()"><mat-icon>edit</mat-icon></button>
  </div>
</div>
<div style="margin-top:15px" class="clearfix" *ngIf="!checkingOverview && isEditing && field.editable">
  <div class="field_key column">
    <label>{{field.name}}</label>
  </div>
  <div class="field_input column">
    <!-- Password -->
    <div *ngIf="type==-1">
      <input type="password" [(ngModel)]="value" (keyup.enter)="toggle_edition()">
    </div>
    <!-- Input -->
    <div *ngIf="type==0">
      <input [(ngModel)]="value" (keyup.enter)="toggle_edition()">
    </div>
  <div *ngIf="type==1">
    <!-- Select -->
    <mat-select [(value)]="value">
      <mat-option *ngFor="let opt of suggestions" [value]="opt">{{opt}}</mat-option>
    </mat-select>
  </div>
    <div *ngIf="type==2">
      <!-- Suggestions -->
      <mat-form-field (keyup.enter)="toggle_edition()">
        <input matInput
               autofocus
               type="text"
               [matAutocomplete]="fieldAuto"
               [formControl]="mySuggestionsControl">
        <mat-autocomplete #fieldAuto="matAutocomplete">
          <mat-option *ngFor="let h of filteredOptions | async" [value]="h">
            {{h}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
  <div class="field_action right_column">
    <button mat-button (click)="toggle_edition()"><mat-icon>save</mat-icon></button>
  </div>
</div>
