.create-many-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 1rem;
}
.two-cols-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  width: 500px;
}

.clone-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.toggle-select{
  margin-left: 1em;
}
.delete-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.filter-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  width: 600px;
}
