<h1 mat-dialog-title>{{title}}
  <mat-checkbox *ngIf="hint=='delete' || hint=='edit'" class = "toggle-select"
                [(ngModel)] = allSelected
                (change)="toggleSelection()">Select All</mat-checkbox> </h1>
<div mat-dialog-content>
  <div *ngIf="hint=='create_many'" class = "create-many-container" >
    <p>Quantity : </p>
    <mat-select [(ngModel)]="num" [(value)]="num">
      <mat-option *ngFor="let n of num_range" [value]="n">{{n}}</mat-option>
    </mat-select>
  </div>
  <div *ngIf="hint=='order'" class="two-cols-container" >
    <mat-checkbox [(ngModel)]="reset">Reset</mat-checkbox>
    <div></div>
    <div></div>
    <p>Column : </p>
    <mat-select [(ngModel)]="misc" [(value)]="misc">
      <mat-option *ngFor="let n of Context.tableSettings" [value]="n.header">{{n.header}}</mat-option>
    </mat-select>
    <mat-select [(ngModel)]="direction" [(value)]="direction">
      <mat-option *ngFor="let n of ['ASC','DESC']" [value]="n">{{n}}</mat-option>
    </mat-select>
  </div>
  <div *ngIf="hint=='clone'" class = "clone-container" >
    <p>Row to clone : </p>
    <mat-select [(ngModel)]="target_num" [(value)]="target_num">
      <mat-option *ngFor="let n of indexes" [value]="n">{{n}}</mat-option>
    </mat-select>
    <p>Times : </p>
    <mat-select [(ngModel)]="num" [(value)]="num">
      <mat-option *ngFor="let n of num_range" [value]="n">{{n}}</mat-option>
    </mat-select>
  </div>
  <div *ngIf="hint=='delete' || hint=='edit'" class = "delete-container" >
    <mat-checkbox *ngFor="let opt of checkBoxes" [(ngModel)]="opt.selected">{{opt.id}}</mat-checkbox>
  </div>
  <div *ngIf="hint=='change_applicant_status'" class = "delete-container" >
    <button *ngFor="let opt of data.options" mat-button [mat-dialog-close]="selectOption(opt['id'])" >{{opt['code']}}</button>
  </div>
  <div *ngIf="hint=='filter'" class="filter-container" >
    <mat-checkbox [(ngModel)]="reset">Reset</mat-checkbox>
    <div></div>
    <div></div>
    <mat-select [(ngModel)]="misc" [(value)]="misc">
      <mat-option *ngFor="let n of Context.tableSettings" [value]="n.header.toLowerCase().startsWith('age')?'age':n.header.toLowerCase()">{{n.header}}</mat-option>
    </mat-select>
    <mat-select [(ngModel)]="op" [(value)]="op">
      <mat-option *ngFor="let n of ops" [value]="n">{{n}}</mat-option>
    </mat-select>
    <mat-form-field *ngIf="!['is empty','is not empty','from - to'].includes(op)">
      <input matInput [(ngModel)]="val">
    </mat-form-field>
    <div *ngIf="['from - to'].includes(op)">
      <mat-form-field>
        <input matInput [(ngModel)]="val">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="val2">
      </mat-form-field>
    </div>
  </div>
</div>

<div mat-dialog-actions *ngIf="hint!='change_applicant_status'">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="compileCommand()" cdkFocusInitial>Confirm</button>
</div>
