
* {
  box-sizing: border-box;
}

.header, .footer {
  background-color: grey;
  color: white;
  padding: 15px;
}

.column {
  float: left;
  padding: 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.option_menu{
  width: 31%;
  background: #000e50;
  margin-top: 1em;
  text-align: center;
  font-size: large;
  font-family: sans-serif;
  font-weight: bold;
  color: cornsilk;
  margin-left: 1em;}
.sheet_wrapper{
  margin-bottom: 1em;
}
.sheet_table_wrapper{
  max-height: 350px;
  min-height: 100px;
  overflow-y: scroll;
  background: #8b8ab1;
  margin-left : 1em;
  margin-right : 1em;

}
.spreadsheet_title{
  padding: 1em;
  font-size: x-large;
  color: #2a0d63;
  font-family: sans-serif;
  font-weight: bold;
}
.spreadsheet_timezone{
  font-size: large;
  padding-left: 2em;
  color: #0b271a;
}
.sheet_title{
  padding: 1em 1em 1em 2em;
}
.sheet_rowCount{
  padding: 0em 1em 1em 3em;
}

.sheet_title > label {
  font-size: medium;
  font-family: sans-serif;
  padding: 1em;
  font-weight: bold;
}
#save_button{
  font-weight: bold;
  float:right;
  background-color:green;
  padding:16px;
  width:25%;opacity:0.85;
  text-align:center;
  font-family: sans-serif;
}

#save_button:hover{
  background-color:#004400;
}

.option_menu:hover{
  background: #d1d9ff;
  color: #000e2f;
}
#newSheetInput{
  width: 72%;
  background: white;
  color: black;
  height: 50px;
  padding: 15px;
}
