<div class="header">
  <h1> Import Drivers</h1>
</div>
<div class="clearfix">
  <div *ngIf="Context.spreadsheets.length>=1" class="menu">
    <mat-select class="spreadsheet_title"  (selectionChange)="getSheets(index)" [(value)]="index">
      <mat-option *ngFor="let spreadsheet_title of Context.spreadsheets; index as i;" [value]="i">
        {{spreadsheet_title.title}}</mat-option>
    </mat-select>
    <div class = "spreadsheet_timezone"><label>{{Context.spreadsheets[index].timezone}}</label></div>
    <div *ngFor="let s of Context.spreadsheets[index].sheets" class="clearfix sheet_wrapper">
      <div class="sheet_title"><label>{{s.title}}</label></div>
      <div *ngIf="s.rowCount>1000" class="sheet_rowCount"><label>Row Count: {{s.rowCount}}</label></div>
      <div class = "sheet_table_wrapper">
        <ct-table [settings]="s.overview.settings" [records]="s.overview.table"></ct-table>
      </div>
      <div class="sheet_options_container">
        <div class="column option_menu" (click)="processSheet(s.title,'import')">
          <label>Import</label>
        </div>
        <div class="column option_menu" (click)="processSheet(s.title,'sync')">
          <label>Clean & Import</label>
        </div>
        <div class="column option_menu" (click)="processSheet(s.title,'merge')">
          <label>Merge</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer clearfix">
  <input id="newSheetInput" matInput type="text" placeholder="New spreadsheet's URL" [(ngModel)]="new_sheet_url">
  <div id="save_button" (click)="register_sheet()">Register new Spreadsheet</div>
</div>
