<div class="header">
  <h1>{{Context.filesBuffer['title']}}</h1>
</div>
<div class="clearfix">
  <div class="column menu">
    <app-material-file-upload [profile]="Context.filesBuffer['profile']" (complete)="refresh($event)"></app-material-file-upload>
  </div>
  <div class="column overview">
    <ul>
      <li *ngFor="let f of Context.filesBuffer['Overview']" > {{f}} </li>
      <li>
        <app-material-file-upload (complete)="refresh($event)"></app-material-file-upload>
      </li>
    </ul>
  </div>
</div>
<div style="margin-top:1em;" >
<ct-table [records]="Context.filesBuffer['files']" [settings]="fileSettings"> </ct-table>
</div>
