<div *ngIf="Context.isAuthenticated">
	<div style="width: 5px; height:75px;">
		<div style="position:fixed;width: 100%;">
			<tool-bar></tool-bar>
		</div>
	</div>
  <div id = "RCustomContainer">
    <vertical-nav [action]="Context.action"></vertical-nav>
    <div id="MyRouteContainer" [style.width]="RouterContainerWidth+'px'">
      <div class="RContainerAuthenticated" style="min-height: 400px;">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<!-- Not authenticated -->
<div *ngIf="!Context.isAuthenticated" class="vertical-center-container"
     style="text-align: center;">
  <div class="watermark" [style.background]="'url('+wallpaper+')'">
  </div>
  <div class="vertical-center">
    <h3 class="RTitle">Synctruck Web Portal</h3>
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="RLogin-form">
      <div style="width: 100%;">
        <mat-form-field style="margin: auto; width: 40%;">
          <input style="width: 100%;" matInput  formControlName="username"
                 type="text"
                 placeholder="Username" required>
        </mat-form-field>
      </div>
      <div style="width: 100%;">
        <mat-form-field style="margin: auto; width: 40%">
          <input style="width: 100%" matInput  formControlName="password"
                 type="password"
                 placeholder="Password" required>
        </mat-form-field>
      </div>
      <div style="width: 100%;">
        <button mat-flat-button color="primary" style="margin:auto;" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
