.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vertical-center-container {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.watermark {
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.RContainerAuthenticated{
  background: #ecf3f3;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.RCommand {
  margin-left: -9.8em;
  width: 122.5%;
}
.LoadingHolder{
  color:black;
  background: aquamarine;
}
.LoadedHolder{
  color:rebeccapurple;
  color:white;
}
#loadingBar{
  width: 290px;
  margin-left: 1em;
  height: 15px;
  border-radius: 25px;
}
#MyRouteContainer {
  float: left;
}

.RTitle {
  font-family: serif;
  font-size: 3em;
  color: blueviolet;
}
