.HelpHeader{
  color:#405061;
  font-weight: bold;
  font-family: sans-serif;
}
.HelpSubHeader{
  font-weight: bold;
  font-family: sans-serif;
  color: #465d75;
}
#HelpBodyContainer{
  padding: 10px 2em;
  font-size: large;
}
.HeaderLVL1{
  font-size:xx-large;
  font-family: sans-serif;
  text-align: center;
}
.HeaderLVL2{
  font-size: x-large;
}
.HeaderLVL3{
  font-size: large;
}
.HeaderLVL4{
  font-size: medium;
}
.HeaderLVL5{
  font-size: small;
}
.HeaderLVL6{
  font-size: x-small;
}
.HeaderLVL7{
  font-size: xx-small;
}

.SubHeaderLVL1{
  font-size:x-large;
}
.SubHeaderLVL2{
  font-size: large;
}
.SubHeaderLVL3{
  font-size: medium;
}
.SubHeaderLVL4{
  font-size: small;
}
.SubHeaderLVL5{
  font-size: smaller;
}
.SubHeaderLVL6{
  font-size: x-small;
}
.SubHeaderLVL7{
  font-size: xx-small;
}
