<div id="HelpBodyContainer">
  <div [ngStyle]="{'text-align': level==1?'center':'left'}"><label [ngClass]="getHeaderClass()">{{getTitle()}}</label></div>
  <p align="justify" style="color: black;
  text-indent: 30px;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: large;
  margin-top:15px;
  text-transform:initial;">
    <span *ngFor="let paragraph of paragraphs">{{paragraph}}<br><br></span>
  </p>
  <div style="margin-bottom: 10px;" *ngIf="help.examples.length>0" [ngClass]="getExampleClass()"><label>Examples:</label></div>
  <ul style="text-transform:initial;">
    <li *ngFor="let example of help.examples"
      style="font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;">
      <label  *ngIf="!example.clickable"  [style.font-weight]="example.bold?'bold':'initial'">{{example.content}}</label>
      <label  [style.font-weight]="example.bold?'bold':'initial'" class="RLink" *ngIf="example.clickable" (click)="trigger_command(example.link)">
        {{example.content}}
      </label>
    </li>
  </ul>
  <ul style="list-style-type: none;" *ngIf="help.suggestions.length>0">
    <li *ngFor="let suggestion of help.suggestions">
      <ct-help [help]="suggestion" [level]="level+1"></ct-help>
    </li>
  </ul>
</div>
