<div style="margin-left: 1em;">
  <div class="example-container">
    <h2>{{title1}}</h2>
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="list1"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of list1" cdkDrag>{{cap(item)}}</div>
    </div>
  </div>
  <div class="example-container">
    <h2>{{title2}}</h2>
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="list2"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of list2" cdkDrag>{{cap(item)}}</div>
    </div>
  </div>
</div>
