<div class="header">
  <h1>{{Context.display?Context.display.record[Context.display.title]:'Loading'}}</h1>
</div>
<ct-field [field]="selectedField"></ct-field>
<div class="clearfix">
  <div *ngIf="Context.display.profile_pic" class="column menu">
    <img style="width: 100%;" [src]="Context.display.profile_pic">
  </div>
  <div *ngFor="let gp of Context.fields" class="column menu">
    <ul>
      <li *ngFor="let f of gp" (click)="selectField(f)" >{{f}}</li>
    </ul>
  </div>
</div>
<div *ngIf="Context.display.record['primary'] && Context.display.record['secondary']">
  <linked-lists [list1]="Context.display.record['primary']" [list2]="Context.display.record['secondary']"
                [title1]="'Primary Actions'"
                [title2]="'Secondary Actions'">
  </linked-lists>
</div>
<div class="footer clearfix">
  <div id="save_button" (click)="Sebastian.save_record()">Save</div>
</div>
