
* {
  box-sizing: border-box;
}

.header, .footer {
  background-color: grey;
  color: white;
  padding: 15px;
}

.column {
  float: left;
  padding: 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.menu {
  width: 25%;
}

.content {
  width: 75%;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 8px;
  background-color: #33b5e5;
  color: #ffffff;
}
#save_button{
  float:right;
  background-color:green;
  padding:16px;
  width:25%;opacity:0.85;
  text-align:center;
}

#save_button:hover{
  background-color:#004400;
}
.menu li:hover {
  background-color: #0099cc;
}
