@import '~ngx-toastr/toastr';
html, body { height: 100%; }
body {
  margin: 0;
  font-family: sans-serif;
  background-color: white;
}
.RLink {
  color: #00aab1;
  font-weight: 400;
}
.RLink:hover {
  text-decoration: underline;
}

.expanded-toolbar {
  justify-content: space-between;
}
.withscroll {
  overflow-x: scroll;
}
.RBody{
  background-color: white;
}
.RAction{
  margin-right:10px !important;
  margin-left: 10px !important;
}

.VerticalNav{
  max-width: 12.666667%;
}
.RModule{
  margin-top: 10px !important;
  width: 100% !important;
}
