<div class="container">
  <div style="overflow-x: scroll;">
    <ct-table [records]="Context.table"
              [settings]="Context.tableSettings">
    </ct-table>
  </div>
  <div style="padding-top: 15px; padding-left:0.5em; padding-right: 0.5em">
    <div style="float: left; width:64px;">
      <button mat-raised-button (click)="prev()"><mat-icon>arrow_back_ios</mat-icon></button>
    </div>
    <div style="float: left; text-align: center; width: calc(99% - 64px - 64px); padding-top: 5px;">
      <label class="RPaginator">{{'Showing '+Context.index+' - '+getUpperIndex()+' of '+Context.recordCount+' records'}}</label>
    </div>
    <div style="float: right; width:64px" style="text-align: right">
      <button mat-raised-button (click)="next()"><mat-icon>arrow_forward_ios</mat-icon></button>
    </div>
  </div>
</div>
