#NavBarReplacement{
  width: 200px;
  height: 5px;
  margin-left: 1em;
  margin-right: 1em;
  float: left;
}

.RVerticalNav {
  width: 205px;
  position: fixed;
  overflow-y: auto;
  max-height: 34rem;
  transition: all 1s ease;
}

.RStation{
  width: 8.5em;
  background-color:  #fff255;
  padding: 10px;
  border-radius: 12px;
  font-size: large;
  margin-bottom: 1em;
}


.heroes {
  list-style-type: none;
  padding: 0;
  width: 185px;
  margin: 0 0 32px;
}

.heroes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: 8px;
  padding: 6px 0;
  height: 42px;
  border-radius: 4px;
}
.heroes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: 2px;
}
.heroes li.selected {
  background-color: #CFD8DC;
  color: white;
}
.heroes li.selected:hover {
  background-color: #BBD8DC;
  color: white;
}

.heroes .name {
  display: inline-block;
  font-size: large;
}
.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  background-color: #405061;
  position: relative;
  left: -1px;
  top: -6px;
  height: 42px;
  margin-right: 13px;
  border-radius: 4px 0 0 4px;
  padding: 13px 10px 20px;
  padding-bottom: 0px;
}
