<div id="NavBarReplacement"></div>
<div class = "RVerticalNav" *ngIf="action=='modules'">
  <div class = "RStationContainer">
    <mat-select class="RStation" placeholder="Station"
                (selectionChange)="onStationChange()" [(value)]="Context.selected_station">
      <mat-option *ngFor="let station of Context.available_stations" [value]="station">{{station.name}}</mat-option>
    </mat-select>
  </div>
  <div class = "RModuleContainer">
    <ul class="heroes">
      <li *ngFor="let module of Context.available_modules; let i = index;"
          [class.selected]="module === selectedModule"
          (click)="onSelectModule(module)">
        <span class="badge">{{Tools_toRoman(i+1)}}</span>
        <span class="name">{{Tools_capitalize(module.name)}}</span>
      </li>
    </ul>
  </div>
</div>

<div class = "RVerticalNav" *ngIf="action=='table'">
  <div class = "RModuleContainer">
    <ul class="heroes">
      <li *ngFor="let t of Context.available_tables; let i = index;"
          (click)="Sebastian.command('Search '+t)">
        <span class="badge">{{Tools_toRoman(i+1)}}</span>
        <span class="name">{{Tools_capitalize(t)}}</span>
      </li>
    </ul>
  </div>
</div>

<div class="RVerticalNav" *ngIf="action=='edit'|| action=='workspace'">
  <div class = "RModuleContainer">
    <ul class="heroes">
      <li *ngFor="let t of buttons; let i = index;"
          (click)="performAction(t)">
        <span class="badge">{{Tools_toRoman(i+1)}}</span>
        <span class="name">{{Tools_capitalize(t)}}</span>
      </li>
    </ul>
  </div>
</div>

<div class = "RVerticalNav" *ngIf="action=='more'">
  <div class = "RModuleContainer">
    <ul class="heroes">
      <li *ngFor="let other of Context.secondary; let i = index;"
          (click)="takeAction(other)">
        <span class="badge">{{Tools_toRoman(i+1)}}</span>
        <span class="name">{{Tools_capitalize(other)}}</span>
      </li>
    </ul>
  </div>
</div>
